@import './reset';

.wrapper {
    font-family: sans-serif;
}

.container {
    max-width: 925px;
    margin: auto;
    padding: 0 20px;
}

.header {
    padding: 20px;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, .2);
}

.create-text {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 60px;

    > * {
        flex: 1 1 0;
    }

    &__result {
        min-width: 300px;
    }
}

.input-src-text {
    width: 100%;

    &__src {
        width: 100%;
        resize: vertical;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, .2);
        padding: 10px;
    }

    &__params-new-text {
        margin: 20px 0;
        display: flex;
        align-items: center;
    }

    &__select-count-p {
        margin-right: 10px;
    }

    &__btn {
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(13, 15, 172, 0.637);
        color: #fff;
    }
}